/* Reset CSS com base de 1rem = 10px */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* Define 1rem como 10px (62.5% de 16px, o padrão do navegador) */
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  font-family: "Lato", serif;
}

a {
  background-color: transparent;
  text-decoration: none;
}

img {
  border-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button {
  background: none;
  border: none;
}

ol,
ul {
  list-style: none;
}
