@use "reset.scss";
@use "variables.scss";
@use "./main-panel/panel-style.scss";
body {
  background: no-repeat url("../img/main-background.png") center/cover;
}
main {
  max-width: min(90vw, 1440px);
  margin: 4rem auto;
}
