@use "reset.scss";
@use "variables.scss";
@use "./main-panel/panel-style.scss";
@use "./input-search/input-search-style.scss";
@use "./panel-climate-week/panel-climate-week.scss";
@use "./air-quality-panel/air-qualy-panel.scss";
body {
  background: variables.$background-card no-repeat
    url("../img/main-background.png") center/cover;
  backdrop-filter: blur(15px);
}
main {
  max-width: min(90vw, 1440px);
  margin: 4rem auto;
}
