@mixin font-lato($size, $weight: 400) {
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}

$white: #ffffff;
$font-light-lavender: #c2bff4;
$font-lavender-mist: #dad8f7;
$font-paler-lavander: #e7e6fb;
$font-light-aquamarine: #87ebcd;
$sun-icon: #f6c833;
$light-sun-icon: #fbdb60;
$light-cloud-icon: #c2cef2;
$background-card: rgba(102, 96, 200, 0.75);
$background-panel: #6d67d0;
$text-status-alert: #e5a800;

$white-dark: #2a2a2a; // Substituto para $white no modo dark
$font-dark-lavender: #8f8be6; // Adaptado para manter o tom suave
$font-dark-lavender-mist: #8e89d2; // Tom mais escuro de lavender mist
$font-dark-paler-lavender: #7a77c2; // Um tom suave, mas mais escuro
$font-dark-aquamarine: #2b7b6d; // Tonalidade escurecida de aquamarine
$dark-sun-icon: #d89d26; // Para representar um sol dourado escurecido
$dark-light-sun-icon: #c28c1e; // Versão mais escura de $light-sun-icon
$dark-cloud-icon: #646b9e; // Tom mais escuro para o ícone de nuvem
$background-card-dark: rgba(45, 42, 100, 0.85); // Versão escurecida e opaca
$background-panel-dark: #444086; // Tom mais escuro para o painel
$text-status-alert-dark: #c27603;
