@use "./dark-panel.scss";
@use "../variables.scss";
.main-weather-panel {
  background-image: url("../img/bacground-card-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  position: relative;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  grid-area: main-panel;
}

.main-weather-panel__img-climate {
  position: absolute;
  width: 25%;
  top: -5rem;
  left: -2rem;
}

.main-weather-panel__city {
  color: variables.$font-light-lavender;
  @include variables.font-lato(1.4rem, 700);
  align-self: self-end;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  .day__day-name {
    display: none;
  }
}
.main-weather-panel__graus {
  margin-top: 6.1rem;
  color: variables.$white;
}

.main-weather-panel__graus__currenty-grau {
  @include variables.font-lato(8.8rem);
  position: relative;
  span {
    color: variables.$font-lavender-mist;
    position: absolute;
    font-size: 2.4rem;
    top: 15px;
  }
}

.main-weather-panel__graus__media-graus {
  display: flex;
  justify-content: center;
  gap: 5px;
  @include variables.font-lato(2rem, 700);
}

.media-graus__minimum {
  color: variables.$font-lavender-mist;
}

.main-weather-pane__climate-information {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 10rem;
  grid-template-areas:
    "wind weather"
    "rain rain";
}
.wind {
  grid-area: wind;
}
.weather {
  grid-area: weather;
}
.rain {
  grid-area: rain;
  justify-self: center;
  width: 45%;
}

.climate-information__card-information {
  color: variables.$font-paler-lavander;
  background-color: variables.$background-card;
  border-radius: 6px;
  backdrop-filter: blur(0px);
  display: flex;
  gap: 12px;
  padding: 12px;
}

.card-information__icon {
  width: 45px;
  opacity: 0.4;
}
.warpper-unity {
  display: flex;
  align-items: center;
  gap: 5px;
}
.type-information__type {
  @include variables.font-lato(1.3rem);
  margin-bottom: 5px;
}

.type-information__value {
  @include variables.font-lato(1.8rem, 700);
}
.type-information__value + span {
  font-size: 1.4rem;
}

@media (prefers-color-scheme: dark) {
  .main-weather-panel__city {
    color: variables.$font-dark-lavender;
  }
  .main-weather-panel__graus {
    color: variables.$white-dark;
  }

  .main-weather-panel__graus__currenty-grau {
    span {
      color: variables.$font-dark-lavender-mist;
    }
  }
  .media-graus__minimum {
    color: variables.$font-dark-lavender-mist;
  }
  .climate-information__card-information {
    background-color: variables.$background-card-dark;
    color: variables.$font-dark-paler-lavender;
  }
  .type-information__value {
    span {
      color: variables.$font-dark-lavender-mist;
    }
  }
}

@media screen and (min-width: 530px) {
  .main-weather-panel__img-climate {
    width: 20%;
  }
}
@media screen and (min-width: 690px) {
  .main-weather-panel__img-climate {
    top: -7rem;
    left: -3rem;
  }
  .main-weather-pane__climate-information {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "wind weather rain";
  }
  .climate-information__card-information {
    width: 100%;
  }
}
@media screen and (min-width: 850px) {
  .main-weather-panel__img-climate {
    width: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .main-weather-panel {
    margin: 0;
    .main-weather-panel__img-climate {
      width: 90px;
      top: -4rem;
      left: -3rem;
    }
  }
  .main-weather-pane__climate-information {
    width: 100%;
  }
  .main-weather-panel {
    justify-content: space-between;
  }
}
