@use "../variables.scss";

.more-weather-information {
  grid-area: weather-info;
}

.air-quality-panel {
  grid-area: air-quality;

  background-color: variables.$background-panel;
  border-radius: 10px;
  padding: 25px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: variables.$font-paler-lavander;
}

.air-quality-panel__text-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
  @include variables.font-lato(1.6rem, 700);
}

.air-quality-panel__quality-statistc {
  text-align: center;
}

.quality-statistic__text {
  @include variables.font-lato(1.8rem, 700);
}
.status-good,
.status-moderate {
  color: variables.$font-light-aquamarine;
}
.status-sensitive {
  color: variables.$text-status-alert;
}
.status-harmful,
.status-dangerous,
.status-bad {
  color: variables.$text-status-error;
}

.quality-statistic__defra-index {
  @include variables.font-lato(4rem, 700);
}

.quality-statistic__statistics {
  display: flex;
  gap: 15px;
  text-align: center;
}

.more-info-statistic__number {
  @include variables.font-lato(1.4rem, 700);
  color: variables.$font-light-aquamarine;
}

.more-info-statistic__unit {
  @include variables.font-lato(1.2rem, 400);
}
@media (prefers-color-scheme: dark) {
  .air-quality-panel {
    background-color: variables.$background-panel-dark;
    color: variables.$font-dark-paler-lavender;
  }
  .more-info-statistic__number,
  .status-good,
  .status-moderate {
    color: variables.$font-dark-aquamarine;
  }
  .status-sensitive {
    color: variables.$text-status-alert-dark;
  }
  .status-harmful,
  .status-dangerous,
  .status-bad {
    color: variables.$text-status-error-dark;
  }
}
