@use "../variables.scss";
.container-wrapper {
  grid-area: search;
  position: relative;
}
.background-glass {
  background: rgba(194, 191, 244, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(194, 191, 244, 0.37);
}
.list-city {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 4rem;
  padding: 15px;
  border-radius: 10px;
  display: block;
  @include variables.font-lato(1.5rem, 700);
  li {
    margin-bottom: 15px;
    cursor: pointer;
  }
}
.wrapper-input-search {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.wrapper-input-search__search-input {
  width: 100%;
  border: none;
  background-color: variables.$background-card;
  padding: 8px;
  border-radius: 10px;
  color: variables.$font-light-lavender;
  &::placeholder {
    color: variables.$font-light-lavender;
    @include variables.font-lato(1.2rem, 400);
  }
  &:focus {
    border: none;
    outline: 0;
  }
}
.wrapper-input-search__icon {
  width: 20px;
  position: absolute;
  right: 15px;
}
@media screen and (min-width: 1024px) {
  .wrapper-input-search {
    margin-bottom: 4rem;
  }
}
